.hero {
  background-color: var(--dark-color);
  color: white;
  padding: 40px 0;
  position: relative;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

.hero p {
  font-size: 19px;
  margin-bottom: 24px;
}
